@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}


.roll-icon {
  animation: scrollIcon 4s linear infinite;
}

@keyframes scrollIcon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
  100%{
    transform: translateY(0);
  }
}
